<label for="title">Trail name:</label>
<input type="text" id="title" name="trail[trail_name]" value="<%= @trail.trail_name %>">

<label for="date_hiked">Date hiked:</label>
<input type="date" id="date_hiked" name="trail[date_hiked]" value="<%= @trail.date_hiked.strftime("%m/%d/%Y") if @trail.date_hiked %>">

<label for="trail_rating">Trail Rating:</label>
<input type="number" id="trail_rating" name="trail[trail_rating]" value="<%= @trail.trail_rating %>">

<label for="view_rating">View Rating:</label>
<input type="number" id="view_rating" name="trail[view_rating]" value="<%= @trail.view_rating %>">

<label for="trail_conditions">Trail Conditions:</label>
<textarea rows="4" col="35" id="trail_conditions" name="trail[trail_conditions]"> <%= @trail.trail_conditions %>
</textarea>
<input type="submit" value="Save Trail">
