<link rel="stylesheet" href="/stylesheets/show_trail.css">
<div class="trail_card">
    <h1 id="trail_name"><%= @trail.trail_name %></h1>
    <img src="" alt="a photo, if I can figure out how">
    <p>Hiked on: <%= @trail.date_hiked %></p>
    <p>Trail rating: <%= @trail.trail_rating %></p>
    <p>view rating: <%= @trail.view_rating %></p>
    <p>Trail conditions: <%= @trail.trail_conditions %></p>
    <a href="/trails"><input type="submit" value="Back to All trails"> </a>
    <a href="/trails/<%= @trail.id %>/edit"><input type="submit" value="edit this trail"></a>
    <form action="/trails/<%= @trail.id %>" method="POST">
        <input type="hidden" name="_method" value="Delete">
        <input type="submit" value="delete this trail">
    </form>
</div>
